# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=andhitech_db

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=gyanvendras2004@gmail.com
SMTP_PASS=kgrq ectn thxr rdkg
SMTP_FROM_NAME="AHIL Official Website"
SMTP_FROM_EMAIL=gyanvendras2004@gmail.com
ADMIN_RECEIVER_EMAIL=gyanvendra123456789@gmail.com
