<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve HTML file if matching path exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Fallback to 404
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /not-found.html [L]
</IfModule>
